#overlay {
	background:#fff;	
}
	
.smooth_zoom_preloader {
	background-image: url(zoom_assets/preloader.gif);
}	
.smooth_zoom_icons {
	background-image: url(zoom_assets/icons.png);
}
#zoom_container .landmarks{
	position:absolute;
	z-index:10;	
	top:0px;
	left:0px;
	font-family: Helvetica, Arial, Verdana;
	font-size:12px;
	color: #ffffff;
}	
#zoom_container .landmarks .item {
	position:absolute;		
	text-align:center;		
	display: none;	
}	
#zoom_container .landmarks .lable div {
	width: 100%;
	/*padding: 4px;		*/
}	
#zoom_container .landmarks .mark .text{
	color:#316891;
	font-size:16px;
	padding:2px 6px;
	border-radius:5px;
}	

.hide-map {
	visibility:hidden;
}